#DEPLOY can be LOCAL/DOCKER/CLOUD
DEPLOY="LOCAL"
LOCAL_API_URL="http://127.0.0.1:8000"
DOCKER_API_URL="http://api:8000"
CLOUD_API_URL="https://analisando-e-recriando-fotos-candidatos-eleicoes--jt4kv2pk4a-uc.a.run.app"
